<launch>
  <rosparam command="load" file="$(find fusion2urdf)/launch/PRM_components_copie_controller.yaml"/>
  <node args=" joint_state_controller" name="controller_spawner" ns="PRM_components_copie" output="screen" pkg="controller_manager" respawn="false" type="spawner"/>
  <node name="robot_state_publisher" output="screen" pkg="robot_state_publisher" respawn="false" type="robot_state_publisher">
    <remap from="/joint_states" to="/PRM_components_copie/joint_states"/>
  </node>
</launch>
